*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}


nav{
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    /* margin: 24px 0 120px 125px; */
    /* padding: 24px auto 120px 100px; */
    padding: 24px;

    
}

nav #container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346px;

}

nav .manu{
    list-style: none;
    align-items: center;
    gap:32px;
    font-weight: 500;
   
}

nav .manu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
   

}

.logo img{
    width: 139px;

}

.btn{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;

}

.manu{
    list-style: none;
    display: flex;
    gap: 40px;
}

#hero-container{
    width: 100%;
}


.hero-background{
      width: 100%;
      min-height: 674px;
     background-image:linear-gradient(rgba(11, 39, 61, 0.5), rgba(7, 32, 86, 0.5)), url("../assets/hero-bg.png");
     background-size: cover;
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

   
   
}

#hero-containaer .hero-card{
   
    width: 1360px;
    height: 679px;
    align-items: center; 
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap:32px;
    justify-content: space-between;
}
    


.hero-card{
    text-align: center;
    
}

#hero-container .hero-background .hero-card .hero-paragraph{
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    color:#469165 ;
    font-size:16px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 12px;
    /* text-align: center; */
    align-items: center;
    margin-bottom: 7px;
}

#hero-container .hero-background .hero-card p{
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 5px;
}

#hero-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap:15px;
    align-items: center;
}

#btn1{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    padding: 13px 13px;
    display: inline-flex;
    justify-content: center;
    gap:10px
    

}

#btn1-arrow{
    object-fit: contain;
    width: 16px;
    height: 16px;
    

}
 #btn2 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px; 
    cursor: pointer;
    padding: 12px 12px; 
    background: transparent;
}

#part-2{

    align-items: center;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1630px;
    height: auto;
   

}

#part-2 .notes-section{
    background-color: #ffffff;

}


#part-2 .note-div{
    display: flex;
    justify-content: space-between;
    gap:15px



}

#part-2 .notes-section h2{
    color: #001931;
    padding: 50px 0 10px 0;

}

#part-2 .notes-section p{
    color: #627382;
    padding: 0px 0 44px 0;

}

.note-div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


#part-2 .note-div .div1{
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0.5px 0.2px 12px 1px rgb(63, 63, 63);
    width: 322px;
    height: 300px;
    align-items: center;
    color: #001931;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;


   

}


#part-2 .note-div .div2{
   
   background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0.5px 0.2px 12px 1px rgb(63, 63, 63);
    width: 322px;
    height: 300px;
    align-items: center;
    color: #001931;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
     

}

#part-2 .note-div .div3{
  background-color: #FFFFFF;
    box-sizing: border-box;
   box-shadow: 0.5px 0.2px 12px 1px rgb(63, 63, 63);
    width: 322px;
    height: 300px;
    align-items: center;
    color: #001931;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    

}

#part-2 .note-div .div4{
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0.5px 0.2px 12px 1px rgb(63, 63, 63);
    width: 322px;
    height: 300px;
    align-items: center;
    color: #001931;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

/* section-3*/

#part-3 .part-3-container{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 60px;
    width: 1360px;
    height: 600px;
    box-sizing: border-box;
    align-items: center;

}
    

/*part-4*/

#part-4{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

#part-4 .part-4-container{
    /* display:; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    max-width: 1360px;
    height: 385px;
    background-color: #dfe4e7;
    box-sizing: border-box;
    margin-top: 120px;
}

.part-4-container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
     /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 1360px;
    height: 385px;
    background-color: #dfe4e7;
    box-sizing: border-box;
    margin-top: 120px;
    border: none;
    border-radius: 10px;

}

   .part-4-card h1{
    color: #001931;
    margin-top: 90px;
    font-size: 40px;
    font-weight: bold;

   }


   .part-4-card p{
    color: #627382;
    font-size:16;
    font-weight: 400;
    margin: 16px auto 25px auto;

   } 

   .part-4_sp{
    color: #627382;
    font-size:16;
    font-weight: 400;
    margin: 16px auto 25px auto;

   }

   footer{
    background-color: #001931;
    max-width: 1600px;
    height: 348px;
   }

   footer #last-part{
    display: flex;
    justify-content: space-between;
   }

   #last-part .fotter-container{
    display: flex;
    justify-content: center;
    gap:1200px;
    align-items: center;


   }

   fotter .social{
    color: #FFFFFF;
    
   }

   footer .copyright{
    position: relative;
    text-align: bottom;
   }



