*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}


nav{
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    /* margin: 24px 0 120px 125px; */
    /* padding: 24px auto 120px 100px; */
    padding: 24px;

    
}

nav #container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346px;

}

nav .manu{
    list-style: none;
    align-items: center;
    gap:32px;
    font-weight: 500;
   
}

nav .manu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
   

}

.logo img{
    width: 139px;

}
.logo img:hover{
    cursor: pointer;

}

.btn{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;

}

.btn:hover{
    background-color: #000000;
    transform: translateY(-1px);
}
.manu{
    list-style: none;
    display: flex;
    gap: 40px;
}

#hero-container{
    width: 100%;
}


.hero-background{
    width: 100%;
    min-height: 674px;
    background-image:linear-gradient(rgba(11, 39, 61, 0.5), rgba(7, 32, 86, 0.5)), url("../assets/hero-bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

   
   
}

#hero-containaer .hero-card{
   
    width: 1360px;
    height: 679px;
    align-items: center; 
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap:32px;
    justify-content: space-between;
}
    


.hero-card{
    text-align: center;
    
}

#hero-container .hero-background .hero-card .hero-paragraph{
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    color:#469165 ;
    font-size:16px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 12px;
    /* text-align: center; */
    align-items: center;
    margin-bottom: 7px;
}

#hero-container .hero-background .hero-card p{
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 5px;
}

#hero-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap:15px;
    align-items: center;
}

#btn1:hover{
     background-color: #000000;
     transform: translateY(-1px);
}
#btn2:hover{
     background-color: #000000;
     transform: translateX(-1px);
}

#btn1{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    padding: 13px 13px;
    display: inline-flex;
    justify-content: center;
    gap:10px
    

}

#btn1-arrow{
    object-fit: contain;
    width: 16px;
    height: 16px;
    

}
 #btn2 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px; 
    cursor: pointer;
    padding: 12px 12px; 
    background: transparent;
}

#part-2 {
  background: #fafafa;
  padding: 80px 20px;
}

#part-2 .notes-section {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

#part-2 h2 {
  color: #001931;
  margin-bottom: 10px;
}

#part-2 .notes-section p {
  color: #627382;
  margin-bottom: 50px;
}


.note-div {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}


.note-div .card {
  background: #fff;
  width: 280px;
  height: 300px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.note-div .card:hover {
  transform: translateY(-1px);
}


.note-div .card img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background:#F95555;
  border: none;
  border-radius: 50%;
}


.note-div .card h3 {
  margin-bottom: 10px;
  color: #001931;
}


.note-div .card p {
  color: #627382;
  font-size: 14px;
  line-height: 1.5;
}



#part-3 .part-3-container{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 60px;
    width: 1360px;
    height: 600px;
    box-sizing: border-box;
    /* margin-top: auto; */
    /* align-items: center; */

}

.part-3-text h5{
    color: #469165;
    font-size: 16;
    font-weight: 400;
    margin-bottom: 16px;

}

.part-3-text h1{
    color: #001931;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 12px;

}

.part-3-text p{
    color: #627382;
    font-size: 16;
    font-weight: 400;
    margin-bottom: 40px;

}

.part-3-text h6{
    color: #627382;
    font-size: 16;
    font-weight: 600;
    margin:0 auto 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.part-3-text #ch{
    
   
    margin-top: 0px;
    padding: 0;
    width: 17px;


}
    
    
    

/*part-4*/

#part-4{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

#part-4 .part-4-container{
    /* display:; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    max-width: 1360px;
    height: 385px;
    background-color: #dfe4e7;
    box-sizing: border-box;
    margin-top: 120px;
}

.part-4-container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
     /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 1360px;
    height: 385px;
    background-color: #dfe4e7;
    box-sizing: border-box;
    margin-top: 120px;
    border: none;
    border-radius: 10px;

}

   .part-4-card h1{
    color: #001931;
    margin-top: 90px;
    font-size: 40px;
    font-weight: bold;

   }


   .part-4-card p{
    color: #627382;
    font-size:16;
    font-weight: 400;
    margin: 16px auto 25px auto;

   } 

   .part-4_sp{
    color: #627382;
    font-size:16;
    font-weight: 400;
    margin: 16px auto 25px auto;

   }

   footer{
    background-color: #001931;
    width: 100%;
    padding: 100px 0 60px;
    /* height: auto; */
    /* padding-top:100px; */
   }

   #last-part{
    background-color: #001931;
    padding: 0px 60px;
   }

   #last-part .fotter-container{
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    align-items: center;
   margin: 0 auto;
    
   }

   .footer-img img{
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
   }

   footer .copyright{
   
    text-align: center;
    padding : 0;
    margin-top: 30px;
   }

   .social{
    flex-direction: column;
    display: flex;
    align-items: flex-start;



   }
   .social-icons{
    
    display: flex;
    margin-top: 5px;
    gap: 5px;

   }
   .social-icons i{
    color: #001931;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
  
 
   }


   .social p{
    color: #FFFFFF;
    /* margin-bottom: 10px; */
    font-weight: 400;
    font-size: 20px;

   }

 .footer-line{
    border:none;
    height: 1px;
    width: 77%;
    background-color: #29395a;
    margin:40px auto 20px;
    /* margin-bottom: 10px; */
    

 }
   

   



